.news-clipping {
  padding-top: var(--content-spacing--v);
  padding-left: var(--content-spacing--w--res);
  padding-right: var(--content-spacing--w--res);

  & > .container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: var(--content-spacing--v);
    padding-bottom: 24px;

    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media only screen and (max-width: 1000px) {
      display: block;

      & > .row {
        &:not(:first-of-type) {
          margin-top: 16px;
        }

        &:last-of-type {
          margin-top: 0;
        }
      }
    }

    & > .row {
      // display: grid;
      // gap: 16px;

      a:not(:first-of-type) {
        margin-top: 16px;
      }

      &:not(:first-of-type) {
        @media only screen and (min-width: 1001px) {
          padding-left: var(--content-spacing--w);
          border-left: 1px dashed var(--text-color--main);
        }
      }

      .image-card {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;

        @media only screen and (max-width: 1200px) {
          display: none;
        }

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
    }
  }

  .read-more {
    display: block;
    padding-bottom: 24px;
    font-weight: bold;
    font-family: var(--ff-serif);
    text-decoration: underline;

    @media only screen and (min-width: 1001px) {
      display: none;
    }
  }
}
